
body{
	
	background-image:url('../image/im1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	}

h2{
    text-align: center;
    color: rgb(11, 11, 160);
    margin-bottom: 20px;
}
form{
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: rgba(84, 79, 79, 0.628);
    width: 70%;
    border-radius: 20px;
    color: rgb(11, 11, 160);
}
input{
    margin: 20px;
    border: none;
}
input[type="submit"]{
    border-radius: 20px;
    color: white;
    height: 30px;
    width: 100px;
    background-color: rgb(11, 11, 160);
    border: none;
}
input[type="reset"]{
    border-radius: 20px;
    color: white;
    height: 30px;
    width: 100px;
    background-color: rgb(11, 11, 160);
    border: none;
}
input[type='submit']:hover{
    color: white;
    background-color: red;
    font-size: 15px;
}
input[type='reset']:hover{
    color: white;
    background-color: red;
    font-size: 15px;
}
table{
   background-color: rgba(43, 44, 43, 0.776);
   border-collapse: separate;
    margin: auto;
    width: 90%;
    color: rgb(255, 252, 252);
    min-width: 600px;
    overflow-x: scroll;
}
table th{
    position: sticky;
    top: 0px;
    background-color: rgb(15, 15, 106);
}
table td{
    background-image: none;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 30px;

}
.tablew{
    max-height: 300px;
    overflow-y: scroll;
}
.outer{
    margin: auto;
    width: 80%;

}